:root {
  --offcanvas-width: 200px;
  --offcanvas-transition-duration: 0.3s;
}

.sidebar-nav {
  width: var(--offcanvas-width);
}

.main-content {
  margin-left: var(--offcanvas-width);
  transition: margin-left var(--offcanvas-transition-duration) ease-in-out;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%; /* Initially off-screen */
    width: var(--offcanvas-width);
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--bs-light);
    transition: left .3s ease-in-out; /* Slide in from right */
  }
  .offcanvas-collapse.open {
    left: 0; /* Slide into view */
  }

  /* Reset the main content margin for smaller screens */
  .main-content {
    margin-left: 0;
  }
}
